@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

body {
    font-family: 'Jeju Gothic', serif;
}
.wrap{
    margin: 0 auto;
    display: table;
     
}

.prd-temp{
    text-align: center;
    border: 1px solid #ccc!important;
    padding: 0.01em 16px;
    display: table-row;
    
}
.prd-temp>*{display: table-cell;vertical-align: middle;height: 80px;}
.prd-img{height: 180px; width: 550px;}
.prd-quantity{padding: 8px 16px;}
.prd-btn{
    padding: 8px 16px;
    border: none;
    font-size: 24px!important;
    color: #fff!important;
    background-color: #000!important;
}
.prd-btn:hover{
    border: none;
    color: #fff!important;
    background-color: #009688!important;
}

.prd-title {
    display: table-row;
    text-align: center;
}

.prd-title span {
    display: table-cell;
    width: 1020px;
    height: 30px;
    vertical-align: middle;
    border-bottom: 1px solid #c9c7bf;
}

.total-all{
    padding: 8px 10px;
    border: none;
    font-size: 24px!important;
    color: #fff!important;
    background-color: #009688!important;
    width: 1300px;
    text-align: right;
}

.logoImg{
    width : 300px;
    padding: 20px;
    display: block;
    margin: 0px auto;
}